@{
    ViewData["Title"] = "Reserve a Room";
}
@section Styles {
    <link rel="stylesheet" href="~/assets/css/reserve.css" />
}
@model CreateReservationVM

<form asp-action="Create" asp-controller="Reservation" method="post">
    <div class="input-wrapper">
        <label for="room">Room</label>
        <span>@ViewBag.Room.Name</span>
        <input hidden value="@ViewBag.Room.Id" required="required" id="room" asp-for="RoomId" />
    </div>
    <div class="input-wrapper">
        <label for="theme">Theme</label>
        <input required="required" id="theme" asp-for="Theme" />
    </div>
    <div class="input-wrapper">
        <label for="start-date">Start Date</label>
        <input required="required" id="start-date" type="datetime-local" asp-for="StartDate" />
    </div>
    <div class="input-wrapper">
        <label for="end-date">End Date</label>
        <input required="required" id="end-date" type="datetime-local" asp-for="EndDate" />
    </div>
    <div class="input-wrapper">
        <label for="participant-select">Participants</label>
        <select required="required" id="participant-select" data-room-size="@ViewBag.Room.Size" asp-for="ParticipantIds" asp-items="@(new SelectList(ViewBag.Users, "Id", "FullName"))" multiple="multiple">
        </select>
    </div>
    <button type="submit">Reserve</button>
</form>

@section Scripts {
    <script src="~/assets/js/reserve.js"></script>
}