@{
    ViewData["Title"] = "My Reservations";
}
@section Styles {
    <link rel="stylesheet" href="~/assets/css/my-reservations.css" />
}

<div class="reservation-card">
    <h2>Room 1</h2>
    <p><strong>Theme:</strong> Solving problems</p>
    <p><strong>As:</strong> Host</p>
    <p><strong>Participants:</strong></p>
    <ul>
        <li>- Burhanaddin Mirsadizada</li>
        <li>- Asim Namazov</li>
    </ul>
    <p><strong>Status:</strong> Ongoing</p>
    <p><strong>Start:</strong> 22.08.2024 15:00</p>
    <p><strong>End:</strong> 22.08.2024 16:00</p>
    <form action="">
        <button type="submit">Cancel</button>
    </form>
</div>
<div class="reservation-card done">
    <h2>Room 2</h2>
    <p><strong>Theme:</strong> Talking about stuff</p>
    <p><strong>As:</strong> Host</p>
    <p><strong>Participants:</strong></p>
    <ul>
        <li>- Burhanaddin Mirsadizada</li>
        <li>- Asim Namazov</li>
    </ul>
    <p><strong>Status:</strong> Canceled</p>
    <p><strong>Started:</strong> 21.08.2024 15:00</p>
    <p><strong>Ended:</strong> 21.08.2024 16:00</p>
</div>
<div class="reservation-card done">
    <h2>Room 1</h2>
    <p><strong>Theme:</strong> Partying</p>
    <p><strong>As:</strong> Guest</p>
    <p><strong>Participants:</strong></p>
    <ul>
        <li>- Burhanaddin Mirsadizada</li>
        <li>- Asim Namazov</li>
    </ul>
    <p><strong>Status:</strong> Completed</p>
    <p><strong>Started:</strong> 18.05.2024 16:00</p>
    <p><strong>Ended:</strong> 18.05.2024 18:00</p>
</div>